.about-section {
  background: #0f0f15;
  padding: 5.5rem 0 0 0;
}

.common-heading {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 1rem;
}
.common-heading::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  content: "";
  width: 150px;
  height: 3px;
  background: linear-gradient(90deg, #ff4a57, #9c72be);
  border-radius: 2px;
}
.common-heading h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.common-heading p {
  color: #b3bad3;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}
.about-container-content {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about-container-right {
  line-height: 1.9rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.about-container-right h1 {
  color: #ffffff;
  font-size: 2rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.about-container-right p {
  color: #d0d2dc;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
}
.about-container-right strong {
  color: #ff4a57;
}
@media screen and (max-width: 991px) {
  .about-container-content {
    flex-direction: column;
    gap: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .about-container-left img {
    min-width: unset;
    width: 100%;
  }
}
